body{
	margin: 0 auto;
	width:1500px;
	background-image: url("background.jpg");
}
#id_divcates
{
	width:100%;
	height:100%;
	background: #52D0C4;
}
.divSug{
	width:100%;
	height: 650px;
	border:black 2px solid;
}
.span_1{
	width:10%;
	font-size:25px;
	font-weight:bold;
	color: black;
	margin-left: 10px;
}
.div_2{
	width:24%;
	height:60%;
	border: red 2px solid;
	float:left;
}
.div_3{
	width:75%;
	height:60%;
	border: red 2px solid;
}
.div_4{
	height: 35%;
	background-color:gray;
	border:1px red solid;
}
.divButtom{
	width:100%;
	border:solid 3px #F1F1F1;
}
.divcontainer
{
	float:left;width:81%;
}

.u1{
	width:100%;height:23%;
	margin-top:2px;
	margin-left:2px;
	list-style: none;
	float:left;
}
.infoDiv{
	width:18%;
	height:100%;
	border:1px red gray;
	float:right;
}
.divList{
	width:100%;
	height: 10%;
	background-color: gray;
	margin-top: 2px;
}
.divNBInfo{
	margin-top:5px;
	width:100%;
	height: 65%;
	border:1px gray solid;
}
.divHot{
	margin-left:3px;float:left;width:17%;height: 100%;border:1px red solid;
}
.bookDiv{
	width:98%;
	height:80%;
	margin-left:2px;
	border:1px red solid;
}
.dicBpic{
	width:100%;
	height:80%;
}
#divdymi{
	width:100%;
	height: 20%;
	border:1px gray solid;
}
.l1{
	width:17%;height:100%;
	margin-left:22px;
	margin-top:2px;
	float:left;
}

.dd1
{
	float:left;
	margin-left: 14px;
	color:white;
	margin-top: 2px;
}
a.a2:LINK {
	color:white;
	text-decoration: none;
}
a.a2:HOVER {
	color:gray;
	text-decoration: none;
}
a.a2:VISITED{
	color:white;
	text-decoration: none;
}
a.a1:LINK {
	color:black;
}
a.a1:HOVER {
	color:orange;
	text-decoration: none;
}
a.a1:VISITED{
	color:black;
	text-decoration: none;
}