body{
	margin: 0 auto;
	width:1500px;
	background-image: url("background.jpg");
}
#id_divcates
{
	width:100%;
	border:1px red solid;
	background: #52D0C4;
}
.dd1
{
	float:left;
	margin-left: 14px;
	color:white;
	margin-top: 2px;
}
a.a2:LINK {
	color:white;
	text-decoration: none;
}
a.a2:HOVER {
	color:red;
	text-decoration: none;
}
a.a2:VISITED{
	color:white;
	text-decoration: none;
}