body{
	margin: 0 auto;
	width:1500px;
}
.divMenue{
	width:99%;
	height:105px;
}
.divIcon{
	width:16%;
	height:90%;
	float:left;
}
.divMenueL{
	width:83%;
	height:100%;
	margin-left:280px;
}
.divT{
	width:100%;
	height:33px;
}
.divTop{
	float:right;
	margin-right: 35px;
}
.searchDiv{
	width:50%;
	height:100%;
	margin-left: 250px;
	float:left;
}
.divCart{
	float:left;
	margin-left: 150px;
	margin-top: 5px;
}
.divB{
	width:97%;
	height:35px;
	background-color: gray;
}
.divCategory1{
	height: 100%;
	width:10%;
	margin-left:70px;
	float:left;
	margin-top: 3px;
}
.divL{
	margin-top:200px;
	width:40px;
	height:200px;
	position:fixed;
	right:3%;;
	background-color:gray; 
	
}
.divLItem{
	margin-top:2px;
	width:100%;
	height:20%;
	background-color:red; 
}
a.a1:LINK {
	color:gray;
	text-decoration: none;
}
a.a1:HOVER {
	color:red;
	text-decoration: none;
}
a.a2:LINK {
	color:red;
	text-decoration: none;
}
a.a2:HOVER {
	color:orange;
	text-decoration: none;
}
a.a3:LINK {
	color:red;
	text-decoration: none;
}
a.a4:LINK {
	color:white;
	text-decoration: none;
}